<%
  statusColors = {
    'active' => 'success',
    'suspense' => 'danger',
    'dispute' => 'warning',
    'archived' => 'danger'
  }
%>

<table class="table table-borderless">
  <tbody>
    <tr>
      <td width="35%"><%= t('activerecord.attributes.license.company_name') %></td>
      <td><%= @license.company_name %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.license.owner_name') %></td>
      <td><%= @license.owner_name %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.license.number') %></td>
      <td><%= @license.number %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.license.issue_at') %></td>
      <td><%= l @license.issue_at %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.license.category') %></td>
      <td><%= @license.category_name %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.license.area') %></td>
      <td><%= t('inline_area_with_unit', area: @license.total_area, unit: t("area_units.#{@license.area_unit}")) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.license.province') %></td>
      <td><%= t("provinces.#{@license.province}") %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.license.business_address') %></td>
      <td><%= @license.business_address %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.license.valid_at') %></td>
      <td><%= l @license.valid_at %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.license.expire_at') %></td>
      <td><%= l @license.expire_at %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.license.status') %></td>
      <td><span class="badge badge-<%= statusColors[@license.status] %> p-2"><%= t("statuses.#{@license.status}") %></span></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.license.note') %></td>
      <td><%= @license.note %></td>
    </tr>
  </tbody>
</table>
