<%
  statusColors = {
    'active' => 'success',
    'suspense' => 'danger',
    'dispute' => 'warning'
  }
%>

<tr class="<%= license.status == 'deleted' ? 'bg-danger' : '' %>">
  <td width="5%"><%= license.number %></td>
  <td width="20%">
    <div><%= license.company_name %></div>
    <% if license.owner_name.present? %>
      <div><%= license.owner_name %></div>
    <% end %>
  </td>
  <td width="10%"><%= t('area_with_unit', area: number_to_human(license.area), unit: t("area_units.#{license.area_unit}")).html_safe %></td>
  <td width="20%"><%= license.address %></td>
  <td width="10%"><%= t("provinces.#{license.province}") %></td>
  <td width="5%"><%= t("license_types.#{license.license_type}") %></td>
  <td width="10%"><%= license.issued_date.strftime('%Y/%m/%d') %></td>
  <td width="10%"><%= license.expires_date.strftime('%Y/%m/%d') %></td>
  <td><span class="d-block badge badge-<%= statusColors[license.status] %> p-2"><%= t("statuses.#{license.status}") %></span></td>
  <td width="10%"><%= truncate(license.note, length: 50) %></td>
  <td>
    <%= link_to t('edit'), edit_license_path(license), class: 'btn btn-primary btn-sm mb-1' %>
    <%= link_to t('sub_license'), new_license_statement_path(license), class: 'btn btn-info btn-sm mb-1' %>
    <%= link_to t('details'), license_path(license), class: 'btn btn-secondary btn-sm mb-1' %>
    <%= link_to t('add_business_plan'), license_business_plan_path(license), class: 'btn btn-success btn-sm mb-1' %>
  </td>
</tr>
