<%
  statusColors = {
    'active' => 'success',
    'suspense' => 'danger',
    'dispute' => 'warning'
  }
%>

<tr class="<%= license.status == 'archived' ? 'bg-danger' : '' %>">
  <td width="5%"><%= license_counter + 1 %></td>
  <td width="10%"><%= license.company_name %></td>
  <td width="10%"><%= license.owner_name %></td>
  <td width="5%"><%= license.number %></td>
  <td width="10%"><%= license.issue_at.strftime('%Y/%m/%d') %></td>
  <td width="5%" class="text-center"><%= license.category.name %></td>
  <td width="10%" class="text-center"><%= t('area_with_unit', area: license.total_area, unit: t("area_units.#{license.area_unit}")).html_safe %></td>
  <td width="20%"><%= license.d_business_address %></td>
  <td width="10%"><%= license.valid_at.strftime('%Y/%m/%d') %></td>
  <td width="10%"><%= license.expire_at.strftime('%Y/%m/%d') %></td>
  <td><span class="d-block badge badge-<%= statusColors[license.status] %> p-2"><%= t("statuses.#{license.status}") %></span></td>
  <td width="10%"><%= truncate(license.note, length: 50) %></td>
  <td class="text-center">
    <%= link_to t('edit'), edit_license_path(license), class: 'btn btn-primary btn-sm mb-1' %>
    <%= link_to t('sub_license'), new_license_statement_path(license), class: 'btn btn-info btn-sm mb-1' %>
    <%= link_to t('details'), license_path(license), class: 'btn btn-secondary btn-sm mb-1' %>
    <%= link_to license.business_plan.present? ? t('edit_business_plan') : t('add_business_plan'), license_business_plan_path(license), class: 'btn btn-success btn-sm mb-1' %>
    <%= link_to t('add_tax'), new_license_tax_path(license), class: 'btn btn-yellow btn-sm mb-1', style: 'color: #fff;' %>
    <%= link_to t('delete'), license_path(license), class: 'btn btn-danger btn-sm', method: :delete, data: { 'confirm-swal' => t('are_you_sure') } %><br />
  </td>
</tr>
