<% if licenses.any? %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.license.no1') %></th>
        <th><%= License.human_attribute_name(:company_name) %></th>
        <th><%= License.human_attribute_name(:owner_name) %></th>
        <th><%= License.human_attribute_name(:number) %></th>
        <th><%= License.human_attribute_name(:issue_at) %></th>
        <th><%= License.human_attribute_name(:category) %></th>
        <th><%= License.human_attribute_name(:total_area) %></th>
        <th><%= License.human_attribute_name(:business_address) %></th>
        <th><%= License.human_attribute_name(:valid_at) %></th>
        <th><%= License.human_attribute_name(:expire_at) %></th>
        <th><%= License.human_attribute_name(:status) %></th>
        <th><%= License.human_attribute_name(:note) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render licenses %>
    </tbody>
  </table>
  <%= paginate licenses, theme: 'twitter-bootstrap-4' %>
<% else %>
  <p class="text-center"><%= t('no_license') %></p>
<% end %>
