<div class="business-plan__content">
  <% if @taxes.any? %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <% @type_taxes.each do |type, t_taxes| %>
          <% t_taxes.each do |year, _| %>
            <% if type == @current_type && year == @current_year %>
              <li class="breadcrumb-item active"><a href="#" data-tax='<%= "tax-#{type}-#{year}" %>'><%= t("tax_types.#{type}") + " (#{year})" %></a></li>
            <% else %>
              <li class="breadcrumb-item">
                <a href="#" data-tax='<%= "tax-#{type}-#{year}" %>'><%= t("tax_types.#{type}") + " (#{year})" %></a>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ol>
    </nav>

    <table class="table table-bordered table-striped mt-2" id="tax-table">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.tax.month') %></th>
          <th><%= t('activerecord.attributes.tax.unit') %></th>
          <th><%= t('activerecord.attributes.tax.total') %></th>
          <th style="width: 110px"></th>
        </tr>
      </thead>
      <% @type_taxes.each do |type, year_taxes| %>
        <% year_taxes.each do |year, taxes| %>
          <tbody id="tax-<%= type + '-' + year.to_s %>" class="<%= type == @current_type && year == @current_year ? 'active' : '' %>">
            <% taxes.each do |tax| %>
              <tr>
                <td><%= t('months')[tax.month - 1] %></td>
                <td class="text-right"><%= tax.unit %></td>
                <td class="text-right"><%= tax.total %></td>
                <td class="text-right">
                  <%#= link_to t('edit'), edit_license_tax_path(tax.license, tax) %>
                  <%= link_to t('delete'), license_tax_path(tax.license, tax), class: 'text-danger', method: :delete, data: { 'confirm-swal' => t('are_you_sure') } %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td><%= t('total_amount') %></td>
              <td class="text-right"><%= taxes.sum(&:unit) %></td>
              <td class="text-right"><%= taxes.sum(&:total) %></td>
              <td class="text-right"><%= taxes.sum(&:unit) %></td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <p class="text-center"><%= t('no_history') %></p>
  <% end %>
</div>

<script type="text/javascript">
  $('#tax-table tbody').not('.active').hide();

  $('.breadcrumb a').on('click', function(e) {
    e.preventDefault();

    $('.breadcrumb-item.active').removeClass('active');
    $(this).parent().addClass('active');

    $('#tax-table tbody.active').removeClass('active').hide();
    $('#tax-table tbody#' + $(this).data('tax')).addClass('active').show();
  })
</script>
