<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center mb-4"><%= t('search_license') %></h1><hr />

        <div class="row mb-4">
          <div class="col-12">
            <%= search_form_for @q, url: search_path, class: 'form' do |f| %>
              <div class="form-row">
                <div class="col-6">
                  <div class="form-group">
                    <%= f.label :number %>
                    <%= f.search_field :number_cont, class: 'form-control' %>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <%= f.label :year %>
                    <%= f.select :year_eq, year_options, { include_blank: t('select_option') }, class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-4">
                  <div class="form-group">
                    <%= f.label :province %>
                    <%= f.select :province_eq, License.province_search_select, { include_blank: t('select_option') }, { class: 'form-control' } %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= f.label :category, t('activerecord.attributes.license.category') %>
                    <%= f.select :category_id_eq, Category.all.map { |c| [c.name, c.id] }, { include_blank: t('select_option') }, { class: 'form-control' } %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= f.label :status %>
                    <%= f.select :status_eq, License.status_search_select, { include_blank: t('select_option') }, { class: 'form-control' } %>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 text-right">
                  <div class="form-group">
                    <label></label>
                    <%= f.submit t('search_license'), class: 'btn btn-primary btn-lg' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="clearfix mb-4">
          <%= link_to t('download_csv'), request.url.sub('search', 'download.xls'), class: 'float-right btn btn-white' %>
          <%= link_to t('download_plan_csv'), request.url.sub('search', 'plan_download.xls'), class: 'float-right btn btn-white mr-2' %>
        </div>
        <%= render 'licenses/table', licenses: @licenses %>
      </div>
    </div>
  </div>
</div>
