<div class="row mb-2">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center"><%= t("tax_types.#{tax.tax_type}") %></h3>
        <hr />

        <%= simple_form_for [@license, tax], defaults: { input_html: { class: 'form-control tax-input' } } do |f| %>
          <%= f.error_notification %>

          <%= f.hidden_field :tax_rate, class: 'tax-input' %>
          <%= f.hidden_field :tax_type, value: tax.tax_type %>

          <div class="form-row">
            <%= f.input :unit, input_html: { value: tax.tax_unit, readonly: true }, wrapper_html: { class: 'col-md-5' } %>
            <%= f.input :total, input_html: { value: tax.tax_unit * tax.tax_rate }, wrapper_html: { class: 'col-md-5' } %>
            <div class="form-group col-md-2">
              <label style="visibility: hidden">*</label>
              <%= f.button :submit, tax.new_record? ? t('create') : t('update'), class: 'form-control btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
