<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>MineEnergy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if I18n.locale == :km %>
      <%= javascript_include_tag 'application_km' %>
    <% end %>
  </head>

  <body>
    <div class="main">
      <div class="container">
        <% if user_signed_in? %>
          <%= render 'shared/header' %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
